<nav class="my-2 my-md-0 mr-md-3">
    {% for category in categories %}
	<a class="p-2 text-dark" href="{{ path('video_list', {'categoryname': category.name|lower|slugify, 'id': category.id}) }}">{{ category.name }}</a>
	{% endfor %}
</nav>

